<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently the Programme Manager at
      <a class="underline-link" href="https://precisiondrivenhealth.com/" target="_blank">Precision Driven Health</a>, helping our health data science projects succeed.
    </p>

    <p>
      I have a strong background in scientific research operations, and a keen technical eye.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'll be on <a class="underline-link" href="https://mgac.org.nz" target="_blank">my favourite archery range</a> or competing internationally in target or field archery.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
