<header class="intro">
  <h1 class="intro__hello">Kia ora!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Kelly Atkinson</span>, a New Zealand recurve archer competing in field and target events.
    <span class="emoji technologist"></span> 2024 IFAA World Field Champion, representing Aotearoa on the world stage.
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:kelly@archery.ai" target="_blank" class="highlight-link">kelly@archery.ai</a>
    </span>
  </h3>
</header>
