<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Competition PBs</div>
        <ul>
          {% for pb in site.data.skills.pbs %}
          <li class="skillz__category__item">{{pb.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Records Held</div>
        <ul>
          {% for record in site.data.skills.records %}
          <li class="skillz__category__item">{{record.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
